// Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colors
$azul: #005CB4;
$rojo: #C9002B;
$blanco: #C3C3C3;
$verde: #95D600;
$rosa: #FF00BF;
$amarillo: #FFFC00;
$morado: #833AB4;
$negro: #000000;