@use 'base/variables' as v;
@use 'base/mixins' as m;


.site-footer{
    background-color: v.$verde;
    padding: 1rem;

    p{
        margin: 0;
        text-align: center;
        color: v.$negro;
        font-weight: 700;
    }
}